<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Postevent</h2>

<form action="/action">
  <label for="Eventtitle">Event title:</label><br>
  <input type="text" id="Eventtitle" name="Eventtitle" value="Event title"><br>


  <label for="Location">Location:</label><br>
  <input type="text" id="Location" name="Location" value="Location"><br><br>

  <label for="TicketPrice">Ticket Price:</label><br>
  <input type="text" id="TicketPrice" name="TicketPrice" value="Ticket Price"><br><br>



  <input type="submit" value="Submit">
</form> 


</body>
</html>
